div#wikipediaTooltip {
  position: absolute;
  display: none;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  width: 30%;
  height: 40%;
  background: white;
  top: 100px;
  left: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 2px;
  -webkit-box-shadow: 2px 2px;
}

div#wikipediaTooltip > * {
  font-family: 'Noto Serif';
  font-size: 10pt;
  line-height: 1.5em;
}

div#wikipediaTooltip > h1, div#wikipediaTooltip > h2, div#wikipediaTooltip > h3, div#wikipediaTooltip > h4 {
  font-weight: bold;
  text-transform: none;
}

div#wikipediaTooltip::-webkit-scrollbar {
  display: none;
}
