:root {
  --bg-color: #1c2023;
  --fg-color: #c7ccd1;
}

body {
  background: var(--bg-color);
}

#mainBody {
  width: 40%;
  margin: 0 auto;
}

h1 {
  font-size: 95px;
  font-family: 'Noto Serif';
  font-style: italic;
  text-align: center;
  color: var(--fg-color);
}

h2 {
  font-size: 50px;
  font-style: italic;
  font-family: 'Noto Serif';
  color: var(--fg-color);
}

h5 {
  font-size: 26px;
  font-family: 'Inconsolata';
  line-height: 1.2em;
  color: var(--fg-color);
}

img {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 2%
}
