div#wikipediaTooltip {
  position: absolute;
  display: none;
  padding: 1% 2%;
  border: 1px solid black;
  border-radius: 15px;
  width: 50%;
  max-height: 60%;
  background: white;
  top: 100px;
  left: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 2px;
  -webkit-box-shadow: 2px 2px;
}

/* there is a lot of redundant style here but I think it's necessary because of the all: initial */

div#wikipediaTooltip > p, div#wikipediaTooltip > ul {
  all: initial; /* to get rid of css that's already on the page */

  display: block;
  text-align: justify;
  font-family: 'Noto Serif';
  font-size: 10pt;
  line-height: 1.5em;
  list-style-type: square;
  padding-top: 5px;
  padding-bottom: 5px;
}

div#wikipediaTooltip > ol {
  all: initial;

  display: block;
  text-align: justify;
  font-family: 'Noto Serif';
  font-size: 10pt;
  line-height: 1.5em;
  list-style-type: decimal;
  padding-top: 5px;
  padding-bottom: 5px;
}

div#wikipediaTooltip > h3, div#wikipediaTooltip > h4 {
  all: initial;

  display: block;
  font-family: 'Noto Serif';
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;
  padding: 2% 0;
}

div#wikipediaTooltip > h2 {
  all: initial;

  display: block;
  font-family: 'Noto Serif';
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5em;
  padding: 2% 0;
}

div#wikipediaTooltip::-webkit-scrollbar {
  display: none;
}
